.section-description-show {
    padding: 0 5px 0 5px;
}

.product-title-show {
    font: 400 Poppins;
    color: var(--color-text-complement);
    padding: 15px 0 0 0;
    text-align: center;
}

.product-text-show {
    font: 400 1.6rem Poppins;
    color: var(--color-text-complement);
    padding: 15px 0 15px 0;
}

.product-dimenssion {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.product-dimenssion-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-dimenssion figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text-complement);
    border-radius: 10rem;
}

.product-dimenssion figure > img{
    width: 5rem;
    height: 5rem;
}

  @media (min-width: 700px) {
     
  
      .product-image-show {
          margin-top: 0;
      }
  
    
    }