.page-footer {
    display: flex;
    flex-direction: column;
   
    background: var(--color-box-footer);
}

.page-go-top {
    text-align-last: center;
    padding: 1.6rem 0;
    cursor: pointer;
    color: var(--color-text-base);
}

.page-footer-all {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
    padding: 1.6rem 0;
}

.page-footer-copyright p{
    text-align-last: center;
    color: var(--color-text-base);
    padding: 4rem 2rem 4rem 2rem;
    border-top: .1rem solid var(--color-line-in-white);
}

.page-footer-group a,
.page-footer-copyright a{
   text-decoration: none;
   color: var(--color-text-base);
}

.page-go-top p:hover,
.page-footer-group a:hover,
.page-footer-copyright a:hover {
    opacity: .8;
}

.page-footer-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.page-footer-group h2{ 
    margin: 0 0 1rem 0;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.page-footer-group span{ 
    background-color: var(--color-gold);
    color: white; 
    border-radius: 5px;
    padding: 0 5px;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.page-footer-social { 
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.6rem;
}

.page-footer-social a{ 
    margin-right: 1rem;
}

@media (min-width: 700px) {
    .page-footer {
        height: auto;
    }

    .page-footer-all {
        max-width: 1200px;
        flex-direction: row;
        justify-content: space-between;
    }

    .page-footer-social { 
        margin-top: 0;
    }
}