#page-contact {
    width: 100vw;
    height: 100vh;
}

#page-contact main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.page-contact-content {
    margin-left: 5vw;
    margin-right: 5vw;
}

#page-contact-data {
    padding: 2rem 0;
}

#page-contact-data p{
    font: 400 2rem Poppins;
    color: var(--color-text-complement);
    line-height: 2.2rem;
}

.contact-social-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-social-group img{
    opacity: .8;
    
}

#page-contact-data a{
    text-decoration: none;
    color: var(--color-text-complement);
    padding: 0 0 0 1rem;
    font: 400 1.7rem Poppins;
}

#page-contact-data iframe{
    padding: 0 0 0 0;
}

#page-contact-data a:hover {
    color: var(--color-primary-dark);
}

#page-contact-form fieldset {
    border: 0;
}

#page-contact-form fieldset + fieldset {
    margin-top: 6.4rem;
}

#page-contact-form fieldset legend {
    font: 2.4rem Poppins;
    font-variant: small-caps;
    color: var(--color-text-complement);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-contact-form fieldset .input-block + .textarea-block {
    margin-top: 1.4rem;
}

#page-contact-form label {
    color: var(--color-text-complement);
}

#page-contact-form footer {
    padding: 4rem 2.4rem;
    background: var(--color-box-footer);
    border-top: 0px solid var(--color-line-in-white);
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

#page-contact-form footer button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-primary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 2.1rem Poppins;
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#page-contact-form footer button:hover {
    background: var(--color-primary-dark);
}

@media (min-width: 700px) {
    #page-contact {
        max-width: 100%;
    }

    #page-contact main {
        margin-top: 15rem;
    }

    #page-contact-content {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        grid-template-areas: 
            "contact"
            "form"
        ;
    }
    
    .contact-data {
        grid-area: contact;
        align-self: center;
    }

    #page-contact-data p{
        padding: 0 0 0 0;
        text-align-last: left;
    }
 
    #page-contact-data iframe{
        padding: 0 0 0 0;
    }

    #page-contact-form footer {
        padding: 4.0rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-contact-form footer button {
        width: 100%;
        margin-top: 0;
    }

}