#page-portfolio-show {
  width: 100vw;
  height: 100vh;
}

#page-portfolio-show main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.section-list {
    padding-right: 5vw;
    padding-left: 5vw;
}

.section-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
    padding: 10px 0 10px 0;
}

.section-back button {
    height: 3.2rem;
    transition: opacity 0.2s;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: transparent;
}

.section-back button:hover {
    opacity: 0.6;
}

.section-back span{
    font: 2.1rem Poppins;
    font-variant: small-caps;
    color: var(--color-text-complement);
}

.section-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}


@media (min-width: 700px) {
    #page-portfolio-show {
        max-width: 100%;
    }
  
    #page-portfolio-show main {
        margin-top: 13rem;
    }

    .section-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
  
  }

  @media (min-width: 900px) {
    .section-list {
        padding-right: 13vw;
        padding-left: 13vw;
    }

    .section-list-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}