.page-header {
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    height: auto;
    background-color: var(--color-primary);
}

.page-header .logo-and-menu {
    width: 90%;
    margin: 0 auto;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
    font-weight: bold;
}

.page-header .logo-and-menu a {
    height: 3.2rem;
    transition: opacity 0.2s;
    color: var(--color-text-in-primary);
    position: relative;
    letter-spacing: 2px;
}

.page-header .logo-and-menu a:link {
    text-decoration: none; 
}

.page-header .logo-and-menu > img {
    height: 8rem;
    transition: all 0.13s ease-in-out;
}

.page-header .header-content {
    height: auto;
    margin: 0 auto;
    position: relative;
}

.page-header .header-content strong {
    font: 400 2rem Bebas Neue;
    line-height: 3.2rem;
    color: var(--color-title-in-primary);
}

.page-header .sub-header {
    width: 100%;
    z-index: 999;
    height: 3.5rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-background);
   
}
.page-header .sub-header .sub-header-contato ul,
.page-header .sub-header .sub-header-redes ul{
    display: flex;
    padding: .5rem 1rem;
    list-style: none;
}

.page-header .sub-header .sub-header-redes ul > li{
   margin-right: .5rem;
}

.page-header .sub-header .sub-header-contato ul > li{
   margin-right: 1rem;
   text-decoration: none;
}

.page-header .sub-header .sub-header-contato ul > li > p > a {
    text-decoration: none;
    color: var(--color-primary-dark);
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#navmenu > li {
    padding: 0 1rem;
    margin: 0.2rem;
    list-style-type: none;
    position: relative;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    #menuToggle{
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle a{
    text-decoration: none;
    color: var(--color-primary-darker);

    transition: color 0.3s ease;
    }

    #menuToggle a:hover{
    color: var(--color-gold);
    }

    #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: var(--color-background);
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child{
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--color-primary-darker);
    }

    #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
      }

    #navmenu{
    position: fixed;
    width: 300px;
    height: 110vh;
    margin: -100px 0 0 -200px;
    padding: 50px;
    padding-top: 125px;
    background: var(--color-menu);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #navmenu > li{
    padding: 0 1rem;
    margin: 0.2rem;
    text-transform: initial;
    padding: 10px 0;
    font-size: 20px;
    }

    #menuToggle input:checked ~ ul
    {
    transform: none;
    }

    }

@media (min-width: 1024px) {

    .page-header {
        height: auto;
        position: -webkit-sticky;
        position: fixed;
        top: 0;
        background-color: rgba(35,31,32,0);
    }

    .page-header .sub-header {
        position: relative;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .page-header .sub-header .sub-header-contato ul > li > p > a {
        color: var(--color-title-in-primary);
    }

    .page-header-black {
        box-shadow: 0 6px 6px 0 rgba(68,68,68,.1);
        background-color: rgba(35,31,32,1);
        transition: all .6s ease-in-out;
    }
    
    .page-header-black:hover { 
        background-color: var(--color-primary-dark);
    }

    .page-header .logo-and-menu {
        max-width: 1200px;
        margin: 0 auto;
    }

    #navmenu{
        display: flex;
        flex-direction: row;
    }

    #navmenu > li {
        padding: 0 1rem;
        margin: 0 2rem;
    }

    .page-header .header-content {
        flex: 1;
        height: auto;
        max-width: 740px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .page-header .header-content strong {
        max-width: 450px;
    }

    #logo-6rem {
        height: 6rem;
    }
    /*INICIO EFEITO DA BORDA BOTTOM COM HOVER*/
    .page-header .logo-and-menu a:after{
        content: "";
        bottom: 0;
        top: 5rem;
        left: 0;
        right: 0;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }

    .page-header .logo-and-menu a:after{
        border-bottom: 1px solid var(--color-line-in-white);
        transform: scaleX(0);
    }

    .page-header .logo-and-menu a:hover:after {
        transform: scaleX(1);
    }
    /*FIM EFEITO DA BORDA BOTTOM COM HOVER*/
    
    .page-header .logo-and-menu .menu .navmenu  .line-hover > .active {
        border-bottom: 1px solid var(--color-line-in-white);
    }
}