#page-start {
    width: 100vw;
    height: 100vh;
}

#page-start main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-90-vw {
    padding: 2rem 0;
    padding-right: 5vw;
    padding-left: 5vw;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 2rem;
    align-items: center;
}

.section-title-text { 
    color: var(--color-text-complement);
}

.section-90-vw .section-product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.section-90-vw .section-product img {
    width: 100%;
    margin-bottom: -0.7rem;
}

.section-90-vw .section-ver-mais {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 1rem 0;
}

.section-90-vw .section-ver-mais a {
    text-decoration: none;
    color: var(--color-text-complement);
}

.section-90-vw .section-ver-mais a:hover {
    text-decoration: underline;
    color: var(--color-text-dark);
}

/*INICIO EFEITO DA BORDA COM HOVER*/
.section-90-vw .section-product .section-project {
    position: relative;
}

.section-90-vw .section-product .section-project:after,
.section-90-vw .section-product .section-project:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .5s ease-in-out;
}

.section-90-vw .section-product .section-project:before {
    border-left: 1px solid var(--color-line-in-white);
    border-right: 1px solid var(--color-line-in-white);
    transform: scaleY(0);
}

.section-90-vw .section-product .section-project:after {
    border-top: 1px solid var(--color-line-in-white);
    border-bottom: 1px solid var(--color-line-in-white);
    transform: scaleX(0);
}

.section-90-vw .section-product .section-project:hover:before {
    transform: scaleY(1);
}

.section-90-vw .section-product .section-project:hover:after {
    transform: scaleX(1);
}
/*FIM EFEITO DA BORDA COM HOVER*/
.section-90-vw .section-product .section-project .section-project-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.section-90-vw .section-product .section-project .section-project-title img{
    width: 6rem;
    margin: 1.6rem 0;
}

.section-90-vw .section-product .section-project .section-project-title h3{
    width: 17rem;
    font: 400 2.4rem Poppins;
    margin-left: 10%;
    color: var(--color-text-complement);
    line-height: 3rem;
}

.section-90-vw .section-product .section-project p{
    font: 400 1.6rem Poppins;
    color: var(--color-text-complement);
    padding: 0 1rem;
    text-align: left;
}
/*INICIO SECTION COMENTÁRIO DOS CLIENTES*/
.section-why,
.section-transition-image,
.section-background-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/images/image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding:  0 2rem 6rem 2rem;
}
/*INICIO SECTION TRANSITION IMAGE*/
.section-transition-image {
    height: 70vh;
    padding: 0 0 0 0;
    flex-direction: row;
    justify-content: space-around;
}

.section-contact-link {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    height: 100%;
}

.section-contact-link a {
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    border-color: hsla(0,0%,100%,.5);
    padding: 1.6rem 2.6rem;
    font: 400 2rem Poppins;
    text-decoration: none;
    text-align: center;
}

.section-contact-link a:hover {
    border-color: hsla(0,0%,100%,1);
}

.section-contact-black-link a { 
    color: var(--color-text-complement);
    border-color: var(--primary-light);
}

.section-transition-description {
    font: 1.5rem Poppins;
    line-height: 4rem;
    color: var(--color-title-in-primary);
    padding: 2.6rem;
    text-align: center;
}
/*FIM SECTION TRANSITION IMAGE*/
.section-why-title,
.section-background-image-title{
    font: 400 32px Poppins;
    color: var(--color-title-in-primary);
    padding: 6rem;
}
.section-why-grid,
.section-comment {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

.section-comment-block {
    display: flex;
    flex-direction: row;
}

.section-comment-block h3 {
    color: var(--color-gold);
}

.section-why-text,
.section-comment-text {
    padding: .8125rem .3125rem;
    color: var(--color-title-in-primary);
}

#icon-img {
    width: 3.75rem;
    height: 3.75rem;
    margin: 1rem;
}
/*FIM SECTION COMENTÁRIO DOS CLIENTES*/

@media (min-width: 450px) {
    .section-90-vw .section-product .section-project .section-project-title h3{
        width: 100%;
    }

    .section-transition-image {
        background-attachment: scroll;
        padding: 15rem 0 0 0;
    }
}

@media (min-width: 700px) {
    #page-start {
        max-width: 100%;
    }

    #page-start main {
        margin-top: 0rem;
    }
    
    .section-90-vw .section-product {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-comment {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-why-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (min-width: 900px) {
    .section-90-vw {
        padding-bottom: 3rem;
        padding-right: 13vw;
        padding-left: 13vw;
    }
    
    .section-90-vw .section-product {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-comment {
        grid-template-columns: repeat(3, 1fr);
        
    }

    .section-why,
    .section-background-image {
        padding:  0 13vw 6rem 13vw;
        background-attachment: fixed;
    }

}