#page-start {
    width: 100vw;
    height: 100vh;
}

#page-start main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 2rem 0;
}

.section .section-title {
    padding: 0 0 2rem;
}

.section .section-title legend{ 
    font: 400 2.4rem Poppins;
    color: var(--color-text-complement);
    text-align-last: center;
}

.section .section-product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.section .section-product img {
    width: 100%;
    margin-bottom: -0.7rem;
}

.section .section-ver-mais {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 1rem 0;
}

.section .section-ver-mais a {
    text-decoration: none;
    color: var(--color-text-complement);
}

.section .section-ver-mais a:hover {
    text-decoration: underline;
    color: var(--color-text-dark);
}


.section .section-product .section-project .section-project-title{
    display: flex;
    flex-direction: row;
    padding-top: 5.6rem;
}

.section .section-product .section-project .section-project-title img{
    width: 6rem;
    margin: 1.6rem 0;
    overflow: visible;
}

.section .section-product .section-project .section-project-title h3{
    width: 20rem;
    font: 400 2.8rem Poppins;
    margin-left: 10%;
    color: var(--color-text-complement);
    line-height: 3rem;
}

.section .section-product .section-project p{
    font: 400 1.8rem Poppins;
    color: var(--color-text-complement);
    text-align-last: left;
}

@media (min-width: 420px) {
    .section .section-product {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) {
    #page-start {
        max-width: 100%;
    }

    #page-start main {
        margin-top: 15rem;
    }
    
    .section {
        padding: 0;
        padding-bottom: 3.6rem;
    }

    .section .section-product {
        grid-template-columns: repeat(3, 1fr);
    }
        
}