#page-start {
    width: 100vw;
    height: 100vh;
}

#page-start main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 2rem 0;
}

.section .section-title {
    padding: 0 0 2rem;
}

.section .section-title legend{ 
    font: 400 2.4rem Poppins;
    color: var(--color-text-complement);
    text-align-last: center;
}

.section .section-product {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.section .section-product img {
    width: 100%;
}

.section .section-ver-mais {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 1rem 0;
}

.section .section-ver-mais a {
    text-decoration: none;
    color: var(--color-text-complement);
}

.section .section-ver-mais a:hover {
    text-decoration: underline;
    color: var(--color-text-dark);
}

@media (min-width: 420px) {
    .section .section-product {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media (min-width: 700px) {
    #page-start {
        max-width: 100%;
    }

    #page-start main {
        margin-top: 15rem;
    }
    
    .section {
        padding: 0;
    }

    .section .section-product {
        grid-template-columns: repeat(3, 1fr);
        
    }

    #mouse {
	display: block;
	width: 22px;
	height: 40px;
	border-radius: 20px;
	border: 4px solid #8844EE;
	text-align: center;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 20px;
	margin: 0 auto;
    }

    #mouse::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 8px;
	position: relative;
	border-radius: 4px;
	background: #8844EE;
	animation-name: mouse;
    animation-duration: .7s;
	animation-iteration-count: infinite;
    }

    @keyframes mouse {
	from {
		top: 0px;
	} to {
		top: 6px;
	}
    }
}