#page-portfolio-show-finish {
  width: 100vw;
  height: 100vh;
}

#page-portfolio-show-finish main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.section-list-finish {
    padding-right: 5vw;
    padding-left: 5vw;
}

.section-back-finish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
    padding: 10px 0 10px 0;
}

.section-back-finish button {
    height: 3.2rem;
    transition: opacity 0.2s;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: transparent;
}

.section-back-finish button:hover {
    opacity: 0.6;
}

.section-back-finish span{
    font: 2.1rem Poppins;
    font-variant: small-caps;
    color: var(--color-text-complement);
}

.section-list-grid-finish {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

/*.section-product-show {
    box-shadow: 0px 0px 13px rgba(20, 20, 20, .1);
    border-radius: 5px;
 }*/

@media (min-width: 700px) {
    #page-portfolio-show-finish {
        max-width: 100%;
    }
  
    #page-portfolio-show-finish main {
        margin-top: 16rem;
    }

    .section-list-grid-finish {
        grid-template-columns: repeat(2, 1fr);
    }
  
  }

  @media (min-width: 900px) {
    .section-list-finish {
        padding-right: 13vw;
        padding-left: 13vw;
    }

    .section-list-grid-finish {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width: 1024px) {
    .section-list-finish {
        padding-right: 13vw;
        padding-left: 13vw;
    }

    .section-list-grid-finish {
        grid-template-columns: repeat(4, 1fr);
    }

}