:root {
    --color-background: #FFFFFF;
    --color-primary-lighter: #231F20;
    --color-primary-light: #302e2e;
    --color-primary: #231F20;
    --color-primary-dark: #302e2e;
    --color-primary-darker: #231F20;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #FFFFFF;
    --color-text-title: #231F20;
    --color-text-complement: #9C98A6;
    --color-text-base: #231F20;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #E6E6F0;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #F8F8FC;
  
    font-size: 56.2%;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html, body, #root {
      height: 100vh;
      scroll-behavior: smooth;
  }

  body {
      background: var(--color-background);
  }

  #root {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  body, input, button, textarea {
      font: 500 1.6rem Poppins;
      color: var(--color-text-base);
  }

  .container {
      width: 100vw;
      max-width: 100vw;
  }
  
/*INICIO TOOLTIP INFO*/
 .tooltip {
     bottom: 10px;
     right: 10px;
     position: fixed;
     background-color: var(--color-text-base);
     color: white;
     padding: 1rem;
     border-radius: 10px;
     width: 250px;
     clip-path: circle(10% at 90% 85%);
     transition: all .3s ease-in-out;
     opacity: .5;
     cursor: pointer;
 }

 .tooltip-link {
    color: white;
    text-decoration: none;
 }
 .tooltip:hover { 
     clip-path: circle(100%);
     opacity: 1;
 }

 .tooltip-span{
    float: right;
    margin-right: 6%;
    margin-bottom: 3%;
    opacity: 1;
    transition: all .3s ease-in-out;
 }

 .tooltip:hover span{
    opacity: 0;
 }
/*FIM TOOLTIP INFO*/
  @media (min-width: 700px){
      :root {
          font-size: 58.2%;
      }

      #mouse {
        display: block;
        width: 22px;
        height: 40px;
        border-radius: 20px;
        border: 4px solid #8844EE;
        text-align: center;
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 20px;
        margin: 0 auto;
        }
    
        #mouse::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 8px;
        position: relative;
        border-radius: 4px;
        background: #8844EE;
        animation-name: mouse;
        animation-duration: .7s;
        animation-iteration-count: infinite;
        }
    
        @keyframes mouse {
        from {
            top: 0px;
        } to {
            top: 6px;
        }
        }
    
      figure {
        overflow: hidden;
      }

      .zoom {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
    
      .zoom:hover {
        -webkit-transform: scale(1.12);
        transform: scale(1.12);
      }

  }