  #page-about {
    width: 100vw;
    height: 100vh;
  }
  
  #page-about main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/images/image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    padding-top: 2rem;
    width: 100%;
  }

  .section-about {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .section-about-title {
    margin-bottom: 1.6rem;
    font: Poppins;
    text-align: center;
    color: var(--color-title-in-primary);
  }

  .section-mv {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    
  }

  .section-m {
    padding: 2.6rem 1.6rem 2.6rem 1.6rem;
  }
  
  .section-m h3,
  .section-m h1{ 
    font: Poppins;
    color: var(--color-title-in-primary);
    line-height: 105%;
    letter-spacing: 1px;
    font-variant: small-caps;
    text-align: left;
  }

  .section-m p{ 
    margin-top: 1rem;
    font: 400 1.6rem Poppins;
    color: var(--color-title-in-primary);
    text-align: left;
  }

  .section-about-link {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    height: 100%;
}

.section-about-link a {
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    border-color: hsla(0,0%,100%,.5);
    padding: 1.6rem 2.6rem;
    font: 400 2rem Poppins;
    text-decoration: none;
    text-align: center;
    font-variant: small-caps;
}

.section-about-link a:hover {
    border-color: hsla(0,0%,100%,1);
}

.section-about-black-link a { 
    color: var(--color-text-complement);
    border-color: var(--primary-light);
}

  @media (min-width: 700px) {
    #page-about {
        max-width: 100%;
    }
  
    #page-about main {
        margin-top: 11rem;
    }

    .section-mv {
      grid-template-columns: repeat(3, 1fr);
    }
  
  }
  
  @media (min-width: 900px) {
    .section-about {
        padding-bottom: 3rem;
        padding-right: 13vw;
        padding-left: 13vw;
    }
  
  }